<table class="ligris-field">
  <tbody>
  <% var size = 20; %>
  <% for (var i=0; i<size; i++) { %>
    <tr>
    <% for (var j=0; j<size; j++) { %>
      <td></td>
    <% } %>
    </tr>
  <% } // End for %>
  </tbody>
</table>